---
Language: Cpp

BasedOnStyle: Google
Standard: "c++20"
IndentWidth: 4
AccessModifierOffset: -4
ColumnLimit: 120
AlignConsecutiveAssignments: Consecutive
AlignOperands: Align
AlignTrailingComments: true
AllowShortBlocksOnASingleLine: Empty
AllowAllArgumentsOnNextLine: true
AllowAllParametersOfDeclarationOnNextLine: true
AllowShortCaseLabelsOnASingleLine: false
AllowShortEnumsOnASingleLine: false
AllowShortIfStatementsOnASingleLine: Never
AllowShortFunctionsOnASingleLine: Inline
AllowShortLambdasOnASingleLine: Inline
AllowShortLoopsOnASingleLine: true
AlwaysBreakAfterReturnType: None
AlwaysBreakTemplateDeclarations: Yes
BinPackArguments: true
BinPackParameters: true
DeriveLineEnding: false
IncludeBlocks: Preserve
IncludeCategories:
  - Regex: "^<"
    Priority: 2
  - Regex: ".*"
    Priority: 1
IndentCaseLabels: true
KeepEmptyLinesAtTheStartOfBlocks: false
PackConstructorInitializers: CurrentLine
DerivePointerAlignment: false
PointerAlignment: Left
QualifierAlignment: Left
SeparateDefinitionBlocks: Always
